@page
@model IndexModel
@{
    ViewData["Title"] = "Organizations";
}

<h2>@ViewData["Title"]</h2>


<p>
    @*<a asp-page="./Register" asp-route-returnUrl="@Url.Page("/Index")">Register</a>*@
    <a asp-area="Identity" asp-page="/Organizations/Register" asp-route-returnUrl="@Url.Page("/Organizations/Index")">Register</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input[0].Name)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Input)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-area="Identity" asp-page="/Organizations/Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Page("/Organizations/Index")">Edit</a> |
                    <a asp-area="Identity" asp-page="/Organizations/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Page("/Organizations/Index")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
